{% extends 'src/form.html' %}

{% block detail %}
    <div class="container">
        <a href="/order?q={{day_before|date:'Y-m-d'}}" class="btn btn-success">Previous day</a>
        <h4 style="display:inline-block; margin: 0">Current: {{current_day}}</h4>
        <a href="/order?q={{day_after|date:'Y-m-d'}}" class="btn btn-success">Next day</a>
        <h3>Choose table</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                {% for field in form %}
                <div class="mb-3">
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="help-block text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" id="book" class="btn btn-primary mb-2" style="display: none">Book</button>
            </div>
        </form>
    </div>
    <script>
        var container = document.getElementsByClassName('mb-3')[0]
        container.style.height = "400px";
        container.style.width = "400px";
        var ul = document.getElementById("id_table");
        ul.style.listStyleType = "none";
        ul.style.paddingInlineStart = "0px"
        ul.style.display = "block";
        ul.style.position = "relative";
        ul.style.height = "100%";
        ul.style.width = "100%";
        ul.style.background = "#9977aa";

        var label = document.querySelectorAll('#id_table li label')
        var li = document.querySelectorAll('#id_table li')

        var input = document.querySelectorAll('#id_table li label input')
        {% for table in schema.tables.all %}
            {% for order in orders %}
                {% if table in order.table.all %}
                    input[{{table.id}}-1].style.background = "red";
                    input[{{table.id}}-1].setAttribute('disabled', 'disabled');
                {% endif %}
            {% endfor %}
            {% if table.shape == 1%}
                input[{{table.id}}-1].style.borderRadius = "100%";
            {% endif %}
            label[{{table.id}}-1].style.position = "absolute";
            label[{{table.id}}-1].style.left = "{{table.longitude}}%";
            label[{{table.id}}-1].style.top = "{{table.latitude}}%";
            label[{{table.id}}-1].style.height = "{{table.width}}%";
            label[{{table.id}}-1].style.width = "{{table.length}}%";
            label[{{table.id}}-1].style.marginBottom = "0px";
            input[{{table.id}}-1].style.height = "100%";
            input[{{table.id}}-1].style.width = "100%";
        {% endfor %}
    </script>
{% endblock %}