{% extends 'src/main.html' %}

{% block content %}
    <div class="container">
        <h3>Please, choose date</h3>
        <form class="form-inline" action="{% url 'schema_view' %}">
            <div class="form-group mb-2">
                <div class="form-group mb-2 mr-2">
                    <input type="date" id="date" class="form-control" name="q">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </form>
    </div>
    {% block detail %}
    {% endblock %}
{% endblock %}